main {
  width: 100%;
  max-width: 1280px;
  height: 85vh;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: space-around;
  flex-wrap: wrap;
  .stockContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 550px;
    width: 100%;
    height: 440px;
    align-items: left;
    box-shadow: 0 0 10px grey inset;
    border-radius: 20px;
    a {
      padding: 1rem;
      border-radius: 10px;
      text-decoration: none;
      transition: 1s ease-in-out;
      &:hover {
        background-color: #dd3b3b66;
        transition: 0.8s ease-in-out;
      }
      h4 {
        font-size: 18px;
        color: rgba(32, 32, 32, 0.767);
      }
      p {
        font-weight: 500;
        font-size: 14px;
      }
    }
    hr {
      opacity: 0.5;
    }
  } 
}
